node_modules
.htaccess
.htaccess.uat

### composer ###
vendor/*

### db ###
storage/db-data
database/seeders

### vite hotreloader ###
public/hot

### envs ###
.env.local
.env.uat
.env
.env.prod

### symlinks ###
public/submissions
public/img

### emails ###
data
