node_modules
.htaccess
.php-cs-fixer.cache

### composer ###
vendor/*

### db ###
storage/db-data
database/seeders

### vite hotreloader ###
public/hot

### envs ###
.env.local
.env.uat
.env
.env.prod

### symlinks ###
public/storage/submissions
public/storage/img
public/storage/newsletters

artisan
_artisan
