node_modules
.htaccess
.php-cs-fixer.cache

### composer ###
vendor

### db ###
storage/db-data
database/seeders

### vite hotreloader ###
public/hot

### envs ###
.env.local
.env
.env.prod

### symlinks ###
public/submissions
public/img
public/newsletters

artisan
