networks:
  brc_network:
    driver: bridge

services:
  web:
    container_name: brc_web
    build:
      context: ./docker/web
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www/html
    ports:
      - 8000:80

  # DB
  mysql:
    container_name: brc_db
    build:
      context: ./docker/db
      dockerfile: Dockerfile
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: brc_core

  # PHPMYADMIN SERVER
  phpmyadmin:
    container_name: brc_phpmyadmin
    build:
      context: ./docker/phpmyadmin
      dockerfile: Dockerfile
    ports:
      - 8001:80
    environment:
      - PMA_ARBITRARY=1

  # MAILPIT
  mailpit:
    container_name: brc_mailpit
    build: ./docker/mailpit
    depends_on:
      - web
    hostname: "mailpit"
    restart: "always"
    volumes:
      - ./data/emails:/data
    ports:
      - 8025:8025
      - 1025:1025
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
