version: "3.8"

services:
  web:
    container_name: brc_web
    build:
      context: ./docker/web
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www/html
    ports:
      - 8000:80

  # DB
  mysql:
    container_name: brc_db
    build:
      context: ./docker/db
      dockerfile: Dockerfile
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: brc_core

  # PHPMYADMIN SERVER
  phpmyadmin:
    container_name: brc_phpmyadmin
    build:
      context: ./docker/phpmyadmin
      dockerfile: Dockerfile
    ports:
      - 8001:80
    environment:
      - PMA_ARBITRARY=1
