version: "3.8"

services:
  web:
    container_name: brc_web
    build:
      dockerfile: ./conf/web/Dockerfile
    volumes:
      - ./:/var/www/html
    ports:
      - 8000:80

  # DB
  mysql:
    container_name: brc_db
    build:
      dockerfile: ./conf/db/Dockerfile
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: brc_core

    ports:
      - 3306:3306

  #PHPMYADMIN SERVER
  phpmyadmin:
    container_name: brc_phpmyadmin
    build:
      dockerfile: ./conf/phpmyadmin/Dockerfile
    ports:
      - 8001:80
    environment:
      - PMA_ARBITRARY=1
